<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Model Sales (Profit)</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
        {% block body %}
        {% include 'includes/_navbar.html' %}
        <select id="selDataset" onchange="getData(this.value)">
                <option value="All">All</option>
                <option value="2022">2022</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>                
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
              </select>
    <div class="row">
        
        <div class="col-md-6">
                <div id="plot"></div>
          </div>
          <div class="col-md-6">
                <div id="plot2"></div>
        </div>


    </div>
    <div class="row">
        
            <div class="col-md-6">
                    <div id="plot3"></div>
              </div>
              <div class="col-md-6">
                    <div id="plot4"></div>
            </div> 
    
    
        </div>
        
    <!--<script src="{{url_for('static',filename='js/data1.js')}}"></script>!-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="{{url_for('static',filename='js/plot3.js')}}"></script>
    <script src="{{url_for('static',filename='js/plot2.js')}}"></script>
    <script src="{{url_for('static',filename='js/plot1.js')}}"></script>
   
    {% endblock %}

</body>
</html>
